<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      {% if title -%}
        {{title}}
      {% else %}
        Videoclub - Inicio
      {% endif %}
    </title>
    <style>
     body: {
       background-color: #a1c1c1;
     }
     table {
       border: 1px solid black;
     }
     table th {
       background-color: #d1d1d1;
     }
     table td {
       border: 1px solid black;
     }
    </style>
  </head>

  <body>
    <h1>VIDEO CLUB</h1>
    <hr>
    <div>
      <a href="/">INICIO</a> |
      <a href="/peliculas">PELÍCULAS</a> |
      <a href="/clientes">CLIENTES</a> |
      <a href="/prestamos">PRÉSTAMOS</a> |
      <a href="/costos">COSTOS Y DESCUENTOS</a>
    </div>
    {% block content %}
    {% endblock %}

    <!-- pie de página -->

    {% if bdconn is defined %}
      <div style="color: #aaa; font-size: 12px; padding-left: 15px; padding-top: 30px">
        <b>Primario:</b> <span style="font-family: mono">{{ bdconn['primary'] }}</span>
        <br>
        <b>Secundarios:</b> <span style="font-family: mono">{{ bdconn['secondaries'] }}</span>
        <br>
        <b>Nodos:</b> <span style="font-family: mono">{{ bdconn['nodes'] }}</span>
      </div>
    {% endif %}
  </body>
</html>
