{% extends "base.html" %}
{% block content %}
  <h1>CLIENTES (<span><b>Total:</b> {{ d['total'] }}</span>)</h1> 
  <a href="/cliente/add"><button>Registrar nuevo cliente</button></a>
  <table>
    <tr>
      <th>Acciones</th>      
      <th>Nombres</th>
      <th>Apellido paterno</th>
      <th>Apellido materno</th>
      <th>C.I.</th>
      <th>Fecha Nacimiento</th>
      <th>email</th>
      <th>Dirección</th>
      <th>Geolocalización dirección</th>
      <!-- <th>Nro. targeta</th> -->
      <th>Betado?</th>
    </tr>
    <tbody>
      {% for cliente in d['clientes'] %}
        <tr>
          <td>
            <a href="/cliente/edit/{{ cliente['_id'] }}" alt="Editar">✍ Editar</a>
          </td>
          <td>
            {{ cliente['nombres'] }}
          </td>
          <td>
            {{ cliente['ap_paterno'] }}
          </td>
          <td>
            {{ cliente['ap_materno'] }}
          </td>
          <td>
            {{ cliente['ci'] }}
          </td>
          <td>
            {{ cliente['fecha_nacimiento'] }}
          </td>
          <td>
            {{ cliente['email'] }}
          </td>
          <td>
            {{ cliente['direccion'] }}
          </td>
          <td>
            {{ cliente['geolocalizacion'] }}
          </td>
          <td>
            {% if cliente['betado'] %}
              <span style="color: red">SI</span>
            {% else %}
              <span style="color: green">NO</span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
