<h1>Videoclub administración</h1>

<p>Bienvenido administrador</p>
<ul>
  <li>
    <a href="/peliculas">PELÍCULAS</a>
  </li>
  <li>
    <a href="/clientes">CLIENTES</a>
  </li>
  <li>
    <a href="/prestamos">PRÉSTAMOS</a>
  </li>
  <li>
    <a href="/costos">COSTOS Y DESCUENTOS</a>
  </li>
</ul>


{% if bdconn is defined %}
<div style="color: #888; font-size: 12px; padding-left: 15px; padding-top: 30px">
  <b>Primario:</b> <span style="font-family: mono">{{ bdconn['primary'] }}</span>
  <br>
  <b>Secundarios:</b> <span style="font-family: mono">{{ bdconn['secondaries'] }}</span>
  <br>
  <b>Nodos:</b> <span style="font-family: mono">{{ bdconn['nodes'] }}</span>
</div>
{% endif %}
