{% extends "base.html" %}
{% block content %}
<h1>Registrar nuevo Préstamo de película</h1>
<form method="POST" id="registrar" action="/prestamo/add">
  <b>Seleccionar cliente:</b>
  <select id="id_cliente" name="cliente">
    <option selected="selected" value="">-----</option>
    {% for cliente in d['clientes'] %}
      <option value="{{ cliente['_id'] }}">
        {{ cliente['nombres'] }} {{ cliente['ap_paterno'] }} {{ cliente['ap_materno'] }} (CI: {{ cliente['ci'] }})
      </option>
    {% endfor %}
  </select>
  <br>
  <b>Seleccione la(s) copia(s) de pélicula(s):</b>
  <div>
    {% for copia_pelicula in d['copias_peliculas'] %}
      <input
        type="checkbox"
        id="checkbox_{{ copia_pelicula['_id'] }}"
        name="copia_pelicula_{{ copia_pelicula['_id'] }}"
        value="{{ copia_pelicula['_id'] }}"
      >
      <label for="copia_pelicula_{{ copia_pelicula['_id'] }}">
        {{ copia_pelicula['titulo'] }} - {{ copia_pelicula['genero'] }} ({{ copia_pelicula['año']|int }})
      </label><br>
    {% endfor %}
  </div>
  <br>
  <b>fecha préstamo (DD/MM/AAAA):</b>
  <input type="text" id="fecha_prestamo" name="fecha_prestamo" minlength="10" value="" required>
  <br>
  <b>Días de préstamos:</b>
  <select id="id_dias_maximo_prestamo" name="dias_prestamo">
    {% for i in range(1, d['dias_maximo_prestamo'] + 1) %}
      <option value="{{ i }}">
        {{ i }}
      </option>
    {% endfor %}
  </select>
  <br>
  <div>
    <input type="submit" value="REGISTRAR">
  </div>
</form>
{% endblock %}
