{% extends "base.html" %}
{% block content %}
<h1>Registrar nueva película</h1>
<form method="POST" id="nueva" action="/pelicula/add">
  <b>Título:</b>
  <input type="text" id="titulo" name="titulo" minlength="2" value="">
  <br>
  <b>Género:</b>
  <input type="text" id="genero" name="genero" minlength="2" value="">
  <br>
  <b>Duración (minutos):</b>
  <input type="text" id="duracion" name="duracion" minlength="2" value="">
  <br>
  <b>Año:</b>
  <input type="text" id="año" name="año" minlength="4" value="2020">
  <br>
  <b>Compañía:</b>
  <input type="text" id="compañía" name="compañía" value="">
  <br>
  <b>Actor principal:</b>
  <input type="text" id="actor_principal" name="actor_principal" minlength="3" value="">
  <br>
  <b>Rol actor:</b>
  <input type="text" id="rol_actor" name="rol_actor" value="">
  <br>
  <h3>Nominaciones</h3>
  <b>Nombre del premio:</b>
  <input type="text" id="nominacion_premio" name="nominacion_premio" value="">
  <br>
  <b>Año nominación:</b>
  <input type="text" id="nominacion_año" name="nominacion_año" value="">
  <br>
  <b>Detalle nominación:</b>
  <textarea rows="2" cols="60" id="nominacion_detalle" name="nominacion_detalle" value="">
  </textarea>
  <br>
  <b>¿Gano el premio?</b>
  <select id="nominacion_gano" name="nominacion_gano">
    <option value="no">NO</option>
    <option value="si">SI</option>
  </select>
  <div>
    <input type="submit" value="REGISTRAR">
  </div>
</form>
{% endblock %}
