{% extends "base.html" %}
{% block content %}
  <h1>Detalles película</h1>

  <h2> Unidades Adquiridas </h2>
  <ol>
    {% for unidad in d['unidades'] %}
      <li>
        <b>Fecha Obtención:</b>
        {{ unidad['creacion'] }}
        <br>
        <ul>
          {% for baja in unidad['bajas'] %}
            <li>
              <b>Baja por</b>: {{ baja['razon'] }} <br>
              <b>Fecha</b>: {{ baja['fecha'] }}
            </li>
          {% endfor %}
        </ul>
        <br>
        {% if unidad['prestado'] %}
          <span style="color: magenta">Unidad Prestada</span>
        {% endif %}
      </li>
      <a href="/copia_pelicula/baja/{{ unidad['_id']}}">Registrar nueva Baja</a>
    {% endfor %}
  </ol>
  <form method="POST" id="nueva_copia_pelicula" action="/copia_pelicula/add/{{ d['pelicula']['_id'] }}">
    <input type="submit" value="NUEVA COPIA DE ESTA PELÍCULA">
  </form>
  
  <h2> Editar</h2>
  <form method="POST" id="editar_pelicula" action="/pelicula/editar/{{ d['pelicula']['_id'] }}">
    Título: ({{ d['pelicula']['titulo'] }}):
    <input type="text" id="titulo" name="titulo" minlength=3 value="{{ d['pelicula']['titulo'] }}">
    <br>
    Duración: ({{ d['pelicula']['duracion']|int }}):
    <input type="text" id="duracion" name="duracion" minlength=3 value="{{ d['pelicula']['duracion']|int }}">
    <br>
    Año: ({{ d['pelicula']['año']|int }}):
    <input type="text" id="año" name="año" minlength=3 value="{{ d['pelicula']['año']|int }}">
    <br>
    {% if d['pelicula']['costo_unitario'] %}
      Costo: ({{ d['pelicula']['costo_unitario']|int }}):
      <input type="text" id="costo_unitario" name="costo_unitario" minlength=3 value="{{ d['pelicula']['costo_unitario']|int }}">
      <br>
    {% else %}
      Costo: (No especificado):
      <input type="text" id="costo_unitario" name="costo_unitario" minlength=3 value="0">
      <br>      
    {% endif %}
    Género: ({{ d['pelicula']['genero'] }}):
    <input type="text" id="genero" name="genero" minlength=3 value="{{ d['pelicula']['genero']}}">
    <br>
    Compañía: ({{ d['pelicula']['compañía'] }}):
    <input type="text" id="compañía" name="compañía" minlength=3 value="{{ d['pelicula']['compañía']}}">
    <br>
    <!-- Agregar nominaciones y Actores -->
    <hr>
    <input type="submit" value="EDITAR"/>
  </form>
  {#{ d }#}
{% endblock %}
