{% extends "base.html" %}
{% block content %}
  <h1>PELÍCULAS (<span><b>Total:</b> {{ d['total'] }}</span>)</h1> 
  <a href="/pelicula/add"><button>Nueva Película</button></a>
  <table>
    <tr>
      <th>Acciones</th>
      <th>Unidades</th>
      <th>Título</th>
      <th>Género</th>
      <th>Duración</th>
      <th>Año</th>
      <th>Actores</th>
      <th>Nominaciones</th>
      <th>Compañía</th>
    </tr>
    <tbody>
    {% for pelicula in d['peliculas'] %}
      <tr>
        <td>
          <a href="/pelicula/editar/{{ pelicula['_id'] }}" alt="Editar">✍ EDITAR</a>,
        </td>
        <td>
          {{ pelicula['unidadesAdquiridas'] }}
        </td>
        <td>
          {{ pelicula['titulo'] }}
        </td>
        <td>
          {{ pelicula['genero'] }}
        </td>
        <td>
          {{ pelicula['duracion']|int }}
        </td>
        <td>
          {{ pelicula['año'] }}
        </td>
        <td>
          <ul>
            {% if pelicula['actores_principales'] != None %}
              {% for actor in pelicula['actores_principales'] %}
                <li>
                  <b>{{ actor['nombre'] }}</b> ({{ actor['interpretacion'] }})
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </td>
        <td>
          <ul>
            {% for nominacion in pelicula['nominaciones'] %}
              <li>
                <b>Premio</b>: {{ nominacion['nombre_premio'] }}
                {% if nominacion['ganado'] == True %}
                  <span style="color: green">- Ganador(a)</span>
                {% else %}
                  <span style="color: gray">- Nominada(o)</span>
                {% endif %}
                <br>
                Año: {{ nominacion['año'] }} <br>
                Detalle: {{ nominacion['detalle'] }}
              </li>
            {% endfor %}
          </ul>
        </td>
        <td>
          {{ pelicula['compañía'] }}
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  
{% endblock %}
