{% extends "base.html" %}
{% block content %}
  <h1>Préstamos de películas (<span><b>Total:</b> {{ d['total'] }}</span>)</h1> 
  <a href="/prestamo/add"><button>Registrar nuevo Préstamo</button></a>
  <table>
    <tr>
      <th>Acciones</th>      
      <th>Cliente</th>
      <th>Copias Peliculas</th>
      <th>Fecha Préstamo</th>
      <th>Días de préstamo</th>
      <th>Fecha Devolución</th>
      <th>Facturado</th>
      <th>¿Devuelto?</th>
    </tr>
    <tbody>
      {% for prestamo in d['prestamos_peliculas'] %}
        <tr>
          <td>
            {% if prestamo['pago'] is undefined %}
              <a href="/prestamo/facturar/{{ prestamo['_id'] }}" alt="Editar">☴ Facturar</a>
              <br>
            {% endif %}
            <a href="/prestamo/devolucion/{{ prestamo['_id'] }}" alt="Editar">☜ Devolución</a>
          </td>
          <td>
            <a href="/cliente/edit/{{ prestamo['cliente'] }}">{{ prestamo['cliente_nombres'] }} {{ prestamo['cliente_ap_paterno'] }} {{ prestamo['clinete_ap_materno'] }} (CI: {{ prestamo['cliente_ci'] }})</a>
          </td>
          <td>
            <ul>
              {% for copia in prestamo['copias_peliculas'] %}
                <li>
                  <a href="/pelicula/editar/{{ copia['copia_pelicula'] }}">{{ copia['copia_pelicula_titulo'] }}</a>
                </li>
              {% endfor %}
            </ul>
          </td>
          <td>
            {{ prestamo['fecha_prestamo'] }}
          </td>
          <td>
            {{ prestamo['dias_prestamo']|int }}
          </td>
          <td>
            {{ prestamo['fecha_devolucion'] }}
          </td>
          <td>
            {% if prestamo['pago'] is defined %}
              <span style="color: green">SI</span><br>
              <b>monto:</b> {{ prestamo['pago']['monto'] }}
              <br>
              {{ prestamo['pago']['fecha_pago'] }}
            {% else %}
              <span style="color: magenta">NO</span><br>
              <b>Monto a pagar:</b> {{ prestamo['costo_facturar'] }}
            {% endif %}
          </td>
          <td>
            {% if prestamo['retornado'] == True %}
              <span style="color: green">SI</span>
            {% else %}
              <span style="color: red">NO</span>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
